asgiref==3.12.1
Django==6.0.7
django-stubs==6.1.0
django-stubs-ext==6.1.0
psycopg2-binary==2.9.12
python-dotenv==1.2.2
sqlparse==0.5.5
types-PyYAML==6.0.12.20260906
typing_extensions==4.16.0
whitenoise==6.12.0
